@import "tailwindcss";
@import "tw-animate-css";

/* Global color variables */
@theme {

  --color-dark: #1F2937;
  --color-bg: #181818;

  --color-background: #0a0a0a;
  --color-primary: #0ea5e9;
  --color-secondary: #8b5cf6;
  --color-surface: #1a1a1a;
  --color-tertiary: #ec4899;
  --color-content: #171717;
  --color-contents: #fafafa;
  --color-foreground: #ededed;
  --color-light: #ffffff;

  --gradient-primary: linear-gradient(135deg, #0ea5e9 0%, #6366f1 50%, #8b5cf6 100%);
  --gradient-secondary: linear-gradient(135deg, #8b5cf6 0%, #ec4899 50%, #f43f5e 100%);
  --gradient-subtle: linear-gradient(135deg, rgba(14,165,233,0.15) 0%, rgba(99,102,241,0.15) 50%, rgba(139,92,246,0.15) 100%);

  --font-sans: 'Inter', sans-serif;

   /* Animation utility classNamees */
  --animate-spin-slow: spin 2s linear infinite;
  --animate-underline: underline 0.5s ease-in-out forwards;
  --animate-pulse-slow: pulse 6s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-gradient: gradient 8s ease infinite;
  --animate-gradient-pulse: animation: gradient-pulse 3s ease-in-out infinite;
  --animate-float: float 6s ease-in-out infinite;
  --animation-fade-in: fadeIn 0.5s ease-in-out;
  --animation-slide-up: slideUp 0.5s ease-in-out;
}
html{
  scroll-behavior: smooth;
}
:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --color-background: #0a0a0a;
  --primary: #0ea5e9;
  --secondary: #8b5cf6;
  --color-surface: #1a1a1a;
  --color-tertiary: #ec4899;
  --color-content: #171717;
  --color-contents: #fafafa;

  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);

  --primary: #0ea5e9;
  --secondary: #8b5cf6;
  --color-surface: #1a1a1a;
  --color-tertiary: #ec4899;
  --color-content: #171717;
  --color-contents: #fafafa;

  --primary-foreground: oklch(0.205 0 0);
  /* --secondary: oklch(0.269 0 0); */
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-aurora: aurora 8s ease-in-out infinite alternate;

  /* Animation utility classNamees */
  --animate-spin-slow: spin 2s linear infinite;
  --animate-underline: underline 0.5s ease-in-out forwards;
  --animate-pulse-slow: pulse 6s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-gradient: gradient 8s ease infinite;
  --animate-gradient-pulse: animation: gradient-pulse 3s ease-in-out infinite;
  --animate-float: float 6s ease-in-out infinite;
  --animation-fade-in: fadeIn 0.5s ease-in-out;
  --animation-slide-up: slideUp 0.5s ease-in-out;



  @keyframes aurora {
    0% {
      backgroundposition: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
    25% {
      backgroundposition: 50% 100%;
      transform: rotate(5deg) scale(1.1);
    }
    50% {
      backgroundposition: 100% 50%;
      transform: rotate(-3deg) scale(0.95);
    }
    75% {
      backgroundposition: 50% 0%;
      transform: rotate(3deg) scale(1.05);
    }
    100% {
      backgroundposition: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
  }
  --animate-orbit: orbit calc(var(--duration) * 1s) linear infinite;
  @keyframes orbit {
    0% {
      transform: rotate(calc(var(--angle) * 1deg))
        translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
    }
    100% {
      transform: rotate(calc(var(--angle) * 1deg + 360deg))
        translateY(calc(var(--radius) * 1px))
        rotate(calc((var(--angle) * -1deg) - 360deg));
    }
  }
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  /* body {
    @apply bg-background text-foreground;
  } */
}
/* Blaze animations */
/* .blaze {
  position: absolute;
  animation: blazeAnimate 2.5s linear infinite;
} */

/* Keyframes for continuous left-to-right movement */
/* @keyframes blazeAnimate {
  0% {
    left: -30%;
  }
  50% {
    left: 80%;
  }
  100% {
    left: 80%;
  }
} */

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.rating svg {
  display: inline-block;
}



body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--color-background);
  /* overflow: hidden; */
  @apply bg-white text-black;
}

.dark body {
  @apply bg-gray-900 text-foreground;
}

@custom-variant dark (&:where(.dark, .dark *));

a {
  transition: all 0.2s ease;
}
/* 
#8B96B8
#271F2C */

@layer components {
  .wrapper {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }

  .btn {
    @apply px-4 py-2 rounded-md font-medium transition-colors duration-200 cursor-pointer;
  }

  .btn-primary {
    @apply bg-primary text-white hover:text-red-600 hover:bg-primary/90;
  }
  .btn-secondary {
    @apply bg-secondary text-white hover:bg-secondary/90;
  }

  .d-flex{
    @apply flex items-center
  }
  .d-flex-justifi {
    @apply flex items-center justify-between 
  }
  .d-grid {
    @apply  grid grid-cols-2 md:grid-cols-3  gap-4
  }
  .relative-overflo {
    @apply relative overflow-hidden
  }

  /* hero section start */
  .header-section{
    @apply fixed w-full z-50 backdrop:bg-white/50 dark:bg-content/30 backdrop-blur border-b border-gray-100 dark:border-gray-800 shadow overflow-hidden
  }
  /* .hero-container{
    @apply flex-col md:flex-row min-h-screen gap-16
  } */

  .contentText{
    @apply md:flex-row justify-between flex-col-reverse gap-12 md:gap-20 py-6
  }
  .hero-title {
    @apply text-3xl md:text-5xl font-extrabold leading-tight 
  }
  .hero-title-color{
     @apply bg-gradient-to-r from-primary via-secondary to-tertiary bg-clip-text text-transparent
  }
/* hero section end */
  .section-continar {
    @apply relative overflow-hidden bg-white dark:bg-black pt-18;
  }
  .section-title {
    @apply text-3xl font-bold mb-8 text-center text-foreground;
  }
  .heading-title-color {
    @apply bg-gradient-to-r from-primary to-tertiary bg-clip-text text-transparent font-bold
  }

  /* Header - border  */
  .right-line{
    @apply to-tertiary absolute top-[20px]  h-[1.5px] w-[100px] rounded from-transparent md:w-[150px] lg:w-[200px]
  }
}

 /* Animations */

@keyframes gradient-pulse {
  0% { opacity: 0.3; }
  50% { opacity: 0.6; }
  100% { opacity: 0.3; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

@keyframes gradient {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}

@keyframes underline {
  0% { transform: scaleX(0); }
  100% { transform: scaleX(1); }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@theme inline {

  --animate-marquee: marquee var(--duration) infinite linear;

  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
  from {
    transform: translateX(0);
    }
  to {
    transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
  from {
    transform: translateY(0);
    }
  to {
    transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}